.error{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

h1{
    transform: translateY(-5vh);
}