.maindiv{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    min-height:50px;
    height:10vh;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height:3vh;
    min-height:30px;
    box-sizing: border-box;
    border-style:solid;
    border-color:grey;
    border-width:1px 1px 1px 0;
}

input{
    padding: 2px 6px;
    text-align:center;
    font-size:medium;
    border-style:solid;
    border-color:grey;
    border-width:1px 1px 1px 1px;
    box-sizing: border-box;
    height:3vh;
    min-height:30px;
}

input:focus{
    outline: none;
    border-color: black !important;
}

input:hover{
    border-color: black !important;
}

.iconContainer:hover{
    border-color: black;
    cursor: pointer;
}


@media (min-width: 100px) {
    input {
        width: calc(100vw - 60px);
    }
    .iconContainer{
        width: 20px;
    }
}

@media (min-width: 200px) {
    input {
        width: calc(100vw - 70px);
    }
    .iconContainer{
        width: 30px;
    }
}

@media (min-width: 400px) {
    input {
        width: calc(100vw - 90px);
    }
    .iconContainer{
        width:50px;
    }
}

@media (min-width: 768px) {
    input {
        width: calc(100vw - 90px);
    }
    .iconContainer{
        width:50px;
    }
}

@media (min-width: 992px) {
    input {
        width: 882px;
    }
    .iconContainer{
        width:70px
    }
}

@media (min-width: 1200px) {
    input {
        width: 1060px; 
    }
    .iconContainer{
        width:100px
    }
}