.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}

.centredvideoContainer{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


@media (max-width: 991px){
    .centredvideoContainer{
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .videoContainer{
        align-items: center;
    }
}

@media (min-width: 992px) and (max-height: 499px){
    .videoContainer{
        height: calc(100vh - 60px);
    }
}

@media (min-width: 992px) and (min-height: 500px){
    .videoContainer{
        height: calc(90vh - 10px);
    }
}